* {
    margin: 0;
    padding: 0;
}

/* navbar stuff */
nav {
    background-color: #545674;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
}

.portfolio {
    background-color: aqua;

}

.links {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.linkItem {
    margin-right: 20px;
}

.links a {
    text-decoration: none;
}

.linkItem {
    border-bottom: solid 4px aqua;
    color: aqua;
}